@font-face {
    font-family: myFont;
    src: url('ComicRelief.ttf');
}

*{
    box-sizing: border-box;
    font-size: 1rem;
    font-family: myFont;
}

.t-header th a{
    display: inline-block;
    width: 100%;
    height: 100%;
    margin: 2px 0px;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
    color: purple;
}

body{
    background-color: rgba(212, 212, 212, 0.808);
}

.main-table{
    border: 6px solid white;
    box-shadow: 10px 10px 8px #888888;
    /* border-collapse: collapse; */
    border-spacing: 0px;
    margin: 20px;
    background-color: white;
    border-radius: 6px;
}

.row-header{
    background-color: pink;
}
.row-header th:hover{
    transition: 0.4s;
    background-color: white;
    cursor: pointer;
}

.row-header th:first-child{border-top-left-radius: 6px;}
.row-header td:last-child{border-top-right-radius: 6px;}
#row_create td:first-child{border-bottom-left-radius: 6px;}
#row_create td:last-child{border-bottom-right-radius: 6px;}

.row-header th{
padding: 5px;
font-weight: 800;
}

#row_create{
    background-color: rgba(204, 93, 204, 0.815);
    border: 2px solid white;
}

.main-table input{
    width: 200px;
    text-align: center;
    width: 200px;
    margin:5px;
    border-radius: 6px;
}

.main-table button{
    cursor: pointer;
    border-radius: 6px;
    
    border: 2px solid white;
    padding: 5px;
    margin: 10px;
    width: 100px;
    font-weight: 600;
    color: white;
}

#btn_create{
    opacity: 1; 
    transition: 0.4s; 
    background-color: rgba(115, 245, 110);
}
#btn_update{
    opacity: 1; 
    transition: 0.4s; 
    background-color: rgba(110, 169, 245);
}
#btn_remove{
    opacity: 1; 
    transition: 0.4s; 
    background-color: rgba(245, 110, 110);
    color: white;
} 

#btn_create:hover{
    opacity: 1; 
    color: rgb(115, 245, 110);;
    background-color: white;
    border: 2px solid rgb(115, 245, 110);;
}
#btn_update:hover{
    opacity: 1; 
    color:  rgb(110, 169, 245);
    background-color: white;
    border: 2px solid  rgb(110, 169, 245);
}
#btn_remove:hover{
    opacity: 1; 
    color: rgba(245, 110, 110);
    background-color: white;
    border: 2px solid rgba(245, 110, 110);
}


